<%= form_with model: [ @article, @comment ] do |f|%>
    <%= f.hidden_field :parent_id if @comment.parent_id %>

    <div class="form-group row mb-2">
        <div class='col-md-11'>
            <%= f.text_field :content, class: 'form-control', placeholder: 'Enter Content' %>
        </div>
        <div class='col-md-1'>
            <%= f.submit 'Submit', class: 'w-20' %>
        </div>
    </div>
<%end%>