<div class="container mt-5">

<h1>All Authers</h1>

    <div class="row">
        <% @users.each do |user| %>
            <!-- Sample Article Card (Repeat this block for each article) -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="Article Image">
                    <div class="card-body">
                    <h5 class="card-title"><%= user.full_name.titleize %></h5>
                    <p class="card-text">Software Engineer</p>
                    <div>
                        <%= link_to 'Profile', user_path(user), class: 'btn btn-primary btn-sm' %>
                        <% if current_user %>
                            <span id="user_<%= user.slug %>">
                                <%= render 'follow_unfollow', user: user %>
                            </span>
                        <% end %>
                    </div>
                    </div>
                </div>
            </div>

            <!-- Repeat the above card block for each article in your collection -->
        <% end %>
    </div>
</div>